
# Church Management System


APP_NAME=Church Management System
APP_ENV=development
APP_DEBUG=true


# Database Configuration


DB_HOST=localhost
DB_PORT=3306
DB_NAME=church_management
DB_USERNAME=Elijah
DB_PASSWORD=licingstone@05533C


# Application Settings


BASE_URL=http://localhost/church management system

TIMEZONE=Africa/Accra


# Session Settings


SESSION_NAME=CMS_SESSION


# Security


PASSWORD_ALGO=PASSWORD_BCRYPT


Email (Optional)


MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=