###################################
# Environment Files
###################################

.env

###################################
# Logs
###################################

logs/
*.log

###################################
# Uploads
###################################

uploads/*
!uploads/.gitkeep

###################################
# Composer
###################################

vendor/

###################################
# Node Packages
###################################

node_modules/

###################################
# IDE Files
###################################

.vscode/

.idea/

###################################
# Operating System Files
###################################

.DS_Store

Thumbs.db

###################################
# Cache
###################################

.cache/

###################################
# Backup Files
###################################

*.bak
*.old
*.tmp

###################################
# PHPUnit
###################################

.phpunit.result.cache

###################################
# Miscellaneous
###################################

*.zip
*.rar